*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
}

.head{
    text-align: center;
    background-color: rgb(19, 91, 94);
    color: black;
    padding: 10px;
    border-radius:5px;
    font-weight: bold;
    width: 400px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
 
}

.chap{
    background-color: rgb(19, 91, 94);
    text-align: center;
    margin-top: 300px;
     border-radius:5px;
    width: 250px;
    margin: auto;
    padding: 25px;
}

.chap  >  a {
    text-decoration: none;
    color: black;
    background-color: rgb(19, 91, 94);
    font-weight: 600;
}